<h2 mat-dialog-title class="bg-ciber-p-as-1 text-white">
  <i class="fa-solid fa-clipboard"></i> Formulario asignación trivia
</h2>
<div mat-dialog-content>
  <div class="row mt-4">
    <div class="col">
      <form [formGroup]="formulario">
        <fieldset class="scheduler-border shadow-sm">
          <legend class="scheduler-border mb-4">
            {{data.asignacion.entidadNombre}}
          </legend>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Persona: <span class="requerido"> * </span></label>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-select formControlName="usuario">
                    <mat-option
                      *ngFor="let persona of listadoPersonas"
                      [value]="persona.usuario"
                    >
                      {{ persona.apellido }} {{ persona.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Trivia: <span class="requerido"> * </span></label>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-select formControlName="cuestionario">
                    <mat-option
                      *ngFor="let cuestionario of listadoCuestionarios"
                      [value]="cuestionario.codigo"
                    >
                      {{ cuestionario.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label
                  >Fecha asignación: <span class="requerido"> * </span></label
                >
                <mat-form-field class="example-full-width" appearance="outline">
                  <input
                    matInput
                    formControlName="fechaInicio"
                    type="datetime-local"
                    placeholder="start date"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label
                  >Fecha Finalización: <span class="requerido"> * </span></label
                >
                <mat-form-field class="example-full-width" appearance="outline">
                  <input
                    matInput
                    type="datetime-local"
                    placeholder="start date"
                    formControlName="fechaFin"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row p-4">
            <div class="col text-center" *ngIf="formulario.errors?.['fechasDesordenadas']">
              <small class="alert alert-danger">La fecha de asignación no puede ser mayor que la fecha de finalización.</small>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row text-right">
    <div class="col">
      <button class="btn btn-danger" mat-dialog-close (click)="cancelar()">
        <i class="fa-solid fa-xmark"></i> Cancelar
      </button>
      <button
        type="button"
        class="btn btn-ciber-v ml-2"
        [disabled]="!formulario.valid"
        (click)="generarEntidad()"
      >
        <i class="far fa-save"></i> Guardar
      </button>
    </div>
  </div>
</div>
